@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif !important;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container-md {
  max-width: 600px;
}

.table {
  user-select: none;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.table tr {
  text-align: center;
  vertical-align: middle;
}

.btn {
  border-radius: 12px;
}

.user-list {
  padding: 7px;
  border: 2px solid #333;
  border-radius: 12px;
}

.user-image {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
}

.user-image:hover {
  border: 2px solid #333;
}
