@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  font-family: "Noto Sans", sans-serif !important;
  margin: 0 auto;
}

.container-md {
  max-width: 600px;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.table tr {
  text-align: center;
  vertical-align: middle;
}
