<!DOCTYPE html>
<html lang="en">
<!-- 

    _____                   _          _____ _                       _                _      _     _   
    / ____|                 | |        / ____| |                     (_)              | |    (_)   | |  
   | |  __  ___   ___   __ _| | ___   | (___ | |__   ___  _ __  _ __  _ _ __   __ _   | |     _ ___| |_ 
   | | |_ |/ _ \ / _ \ / _` | |/ _ \   \___ \| '_ \ / _ \| '_ \| '_ \| | '_ \ / _` |  | |    | / __| __|
   | |__| | (_) | (_) | (_| | |  __/   ____) | | | | (_) | |_) | |_) | | | | | (_| |  | |____| \__ \ |_ 
    \_____|\___/ \___/ \__, |_|\___|  |_____/|_| |_|\___/| .__/| .__/|_|_| |_|\__, |  |______|_|___/\__|
                        __/ |                            | |   | |             __/ |                    
                       |___/                             |_|   |_|            |___/                     
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ given_name }}'s Shopping List</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-md">
            <a class="navbar-brand" href="{{ url_for('list') }}">{{ given_name }}'s Shopping List</a>
            <a href="{{ url_for('logout') }}"><img class="rounded-circle" src="{{ image }}" alt="User Google Photo"
                    width="40" height="40"></a>
        </div>
    </nav>
    <div class="container-md mt-4">
        {% block content %}{% endblock %}
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>