{% extends "base.html" %}

{% block content %}

<button><a href="">Delete All Items</a></button>
<button><a href="{{ url_for('add') }}">Add An Item</a></button>

<table>
    <tr>
        <th>Document ID</th>
        <th>Item</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>
            {{ item.id }}
        </td>
        <td>
            {{ item.to_dict()['name'] }}
        </td>
        <td>
            {{ item.to_dict()['quantity'] }}
        </td>
        <td><button><a href="{{ item.id }}/delete">Delete Item</a></button></td>
    </tr>
    {% endfor %}
</table>

<p></p>
<p></p>


{% endblock %}